html body {
  margin: 0;
  height: 100%;
}

.titleCase {
  font-family: 'Black Ops One', cursive;
}

.header {
  font-size: 55px;
  text-align: center;
}

td {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: grey;
}

td:hover {
  background-color: #fdfdf8;
}

table {
  display: flex;
  justify-content:flex-start;
  margin-top:30px;
}

.tileWidth {
  width: 40px;
  border: 1px solid #e4e4e4;
  background-color: white;
}

.flexHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spaceRight {
  margin-right: 20px;
}

/*to be changed when get images*/
.boatBox {
  width: 80px;
  height: 30px;
  background-color: black;
  margin-bottom: 20px;
}

.asideMarginTop {
  margin-top: 30px;
}

